body {
    background-color: dodgerblue;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 1500px;
    background-color:blue;
    font-family: sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
    background-color:#a4d2fc;
}

.active {
  background-color:lightskyblue;
}

h1 {
    color: midnightblue;
    font-family: sans-serif;
}

h2{
    color:midnightblue;
    font-family: sans-serif;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

#map {
    width: 1000;
    height: 500;
}

#chart {
    width: 800;
    height: 600;
}

#covidimg {
    width: 100%;
    height: 400px;
}

#virus {
    width: 700;
    height: 380;
    border: 5px solid;
    border-color: midnightblue;
}

#map {
    border-radius: 3px;
    border: 5px solid;
    border-color: midnightblue;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
